@charset "UTF8";

table {
    text-align: center;
    width: 300px;
}

td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(48, 47, 47);
    padding: 3px;
    border-radius: 5px;
}

a:hover {
    background-color: black;
}